body {
    background: #202124;
    font-family: arial,sans-serif;
    color: #BDC1D6;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.navbar {
    color: white;
    padding: 1%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.navbar div, img, svg:hover {
    cursor: pointer;
}
.gb_Ue {
    height: 24px;
}

.gb_Ba {
    border-radius: 50px;
    height: 33px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 300px);
    gap: 20px;
}
.logo img {
  height: 92px;  
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 560px;
    padding: 5px 10px;
    border: 1px solid #5f6368;
    border-radius: 24px;
    background: #202124;
}
.searchbar svg {
    height: 70%;
}

.searchbar input {
    padding-left: 15px;
    color: white;
    font-size: 100%;
    width: 100%;
    height: 100%;
    background: inherit;
    border: none;
}

.searchbar input:focus {
    outline: none;
}
.searchbar:hover {
    background: #303134;
}
.search-button {
    height: 34px;
    font-size: 14px;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    margin: 11px 4px;
    padding: 0 16px;
}

.search-button:hover {
    border: 1px solid #5f6368;
    cursor: pointer;
}

.country {
    width: 100%;
    border-bottom: 1px solid #3c4043;
    padding: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #171717;
    font-size: 14px;
}
.footer-left {
    padding-left: 10px;
    justify-content: flex-start;
}
.footer-right {
    padding-right: 10px;
    justify-content: flex-end;
}
.footer-left , .footer-right, .footer-middle{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 15px;
}


.footer-middle {
    justify-content: center;
}
.footer-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
